<ion-modal-view>
	<ion-header-bar class="bar bar-header bar-positive notheme">
	  <!--button class="button button-clear notheme" ng-click="modal.hide()" translate>Cerrar</button-->
	   <h1 class="title" translate>Datos de tu ticket</h1>
	  <button class="button button-clear button-icon ion-ios-close" ng-click="closeModal()"></button>
	</ion-header-bar>
	<ion-content">
		<div class="list">			
			<div class="item item-divider">
				Fecha de tu pago
			</div>
			<a class="item" href="#">
				{{day_format(dCompra.event_start)}} a las {{hours_format(dCompra.event_start)}}
			</a>
			
			<div class="item item-divider">
				Cantidad de Tickets
			</div>
			<a class="item" href="#">
				1
			</a>
			
			<div class="item item-divider">
				Total
			</div>
			<a class="item" href="#">
				$ {{dCompra.payment_total}}
			</a>
			
			<div class="item item-divider">
				Método de Pago
			</div>
			<a class="item" href="#">
				{{dCompra.payment_mode}}
			</a>
			<div class="item item-divider">
				ID de Compra
			</div>
			<a class="item" href="#">
				{{d.Compra.payment_uniqid}}
			</a>
		</div>
	</ion-content>
</ion-modal-view>