<ion-modal-view>
	<ion-header-bar class="bar bar-header bar-positive notheme">
	  <!--button class="button button-clear notheme" ng-click="modal.hide()" translate>Cerrar</button-->
	   <h1 class="title" translate>Datos de tu ticket</h1>
	  <button class="button button-clear button-icon ion-ios-close" ng-click="modal.hide()"></button>
	</ion-header-bar>
	<ion-content">
		<div class="list">			
			<div class="item item-divider">
				Fecha de tu pago
			</div>
			<a class="item" href="#">
				12 de junio de 2017 a las 21:45
			</a>
			
			<div class="item item-divider">
				Cantidad de Tickets
			</div>
			<a class="item" href="#">
				1
			</a>
			
			<div class="item item-divider">
				Total
			</div>
			<a class="item" href="#">
				$ 270,00
			</a>
			
			<div class="item item-divider">
				Método de Pago
			</div>
			<a class="item" href="#">
				MercadoPago
			</a>
			<div class="item item-divider">
				ID de Compra
			</div>
			<a class="item" href="#">
				7njNbxdF
			</a>
		</div>
	</ion-content>
</ion-modal-view>