<ion-modal-view>
	<ion-header-bar class="bar bar-header bar-positive notheme">
	  <!--button class="button button-clear notheme" ng-click="modal.hide()" translate>Cerrar</button-->
	   <h1 class="title" translate>Tu Ticket</h1>
	  <button class="button button-clear button-icon ion-ios-close" ng-click="modal2.hide()"></button>
	</ion-header-bar>
	<ion-content">
		<div class="list">			
			<div class="item item-divider">
				ID Ticket: NVVLAGUMJGKRT
			</div>
			<a class="item" href="#">
				<img ng-src="../imgs/qr.jpg">
			</a>
		</div>
	</ion-content>
</ion-modal-view>