<ion-modal-view>
	<ion-header-bar class="bar bar-header bar-positive notheme">
	  <!--button class="button button-clear notheme" ng-click="modal.hide()" translate>Cerrar</button-->
	   <h1 class="title" translate>Tu Ticket</h1>
	  <button class="button button-clear button-icon ion-ios-close" ng-click="closeModal2()"></button>
	</ion-header-bar>
	<ion-content>
		<div class="list">			
			<div class="item item-divider">
				{{title}} <br> ID Ticket: {{reference}}
			</div>
			<a class="item" href="#">
				<img ng-src="{{qr}}" width="100%">
			</a>
		</div>
	</ion-content>
</ion-modal-view>