<ion-view view-title="">	
    
	<div class="tabs-striped tabs-top">
		<div class="tabs">
			<a class="tab-item  active" translate>
				<!--i class="icon ion-home"></i-->
				Pendientes
			</a>
			<a class="tab-item" ng-href="#/tickethistory" translate>
				<!--i class="icon ion-star"></i-->
				Historial
			</a>
		</div>
	</div>
	<ion-content>
		<div class="list card">
			<div class="list">
				<a class="item item-thumbnail-left" href="#detalle">
				  <img src="imgs/queen.jpg">
				  <h2>DR QUEEN - GENES</h2>
				  <p>Vigente</p>
				  <p>luisina pacheco - docpacheco@gmail.com</p>
				</a>
			</div>
		</div>
		<div class="list card">
			<div class="list">
				<a class="item item-thumbnail-left" href="#detalle">
				  <img src="imgs/queen.jpg">
				  <h2>DR QUEEN - GENES</h2>
				  <p>Vigente</p>
				  <p>luisina pacheco - docpacheco@gmail.com</p>
				</a>
			</div>
		</div>
		<div class="list card">
			<div class="list">
				<a class="item item-thumbnail-left" href="#detalle">
				  <img src="imgs/queen.jpg">
				  <h2>DR QUEEN - GENES</h2>
				  <p>Vigente</p>
				  <p>luisina pacheco - docpacheco@gmail.com</p>
				</a>
			</div>
		</div>
	</ion-content>
</ion-view>