<ion-modal-view ng-controller="moduleFormCtrl as mForm">

	    <ion-header-bar class="bar-positive">	    
	      	<h1 class="title">Editing: {{mForm.win_title}}</h1>
	    </ion-header-bar>
	    
	    <ion-content>    
				<label class="item item-input">
					<span class="input-label">Alias</span>
					<input type="text" ng-model='mForm.m_form._alias'>
				</label>

					<ion-toggle 
			        	ng-true-value=1
			        	ng-false-value=0  
			            ng-model="mForm.m_form._enabled" 
						toggle-class="toggle-calm">Active</ion-toggle>
	        
				
				<label class="item">
					<span class="input-label">Icon</span>
					<div class="row">
					  <div class="col-25">
					  	<ion-radio name="seticon" ng-model="mForm.m_form._icon" value="ion-flag"><i class="icon ion-flag"></i></ion-radio>
					  </div>
					  <div class="col-25">
					  	<ion-radio name="seticon" ng-model="mForm.m_form._icon" value="ion-star"><i class="icon ion-star"></i></ion-radio>
					  </div>
					  <div class="col-25">
					  	<ion-radio name="seticon" ng-model="mForm.m_form._icon" value="ion-heart"><i class="icon ion-heart"></i></ion-radio>
					  </div>
					  <div class="col-25">
					  	<ion-radio name="seticon" ng-model="mForm.m_form._icon" value="ion-compass"><i class="icon ion-compass"></i></ion-radio>
					  </div>
					</div>
				</label>

				<label class="item">
					<span class="input-label">Display</span>
					<div class="row">
						<div class="col-50">
							<ion-radio ng-model="mForm.m_form._showIcon" ng-value="'0'">Only text</ion-radio>
						</div>
						<div class="col-50">
							<ion-radio ng-model="mForm.m_form._showIcon" ng-value="'1'">Text + Icon</ion-radio>
						</div>
					</div>
				</label>
				

				<div class="button-bar padding">
			        <button class="button button-stable" type="button" ng-click="closeModal()">
			            Cancel
			        </button>
			        
			        <button class="button button-positive" type="button" ng-click="mForm.form_process();">
			            Save
			        </button>
			        
				</div>



			<!--	-->
    	</ion-content>
	
 </ion-modal-view>