<ion-view view-title='<img class="title-image" src="./imgs/logo_blanco2.png" width="150" height="43"/>' >
	<ion-nav-buttons side="right">
		<!--button class="button button-clear button-icon ion-ios-search" on-tap="showFilterBar()"></button>
        <button ng-click="cart()" class="button button-icon ion-bag"><span style="display:none;" class="badge badge-assertive header-badge">5</span></button-->
    </ion-nav-buttons>
	<ion-content overflow-scroll="true">
		<div ng-if="cart.listCart().length>0">
			<ion-list>
				<div ng-repeat="itemcart in cart.listCart() track by $index">
					<ion-item class="item check-view" style="padding:0px">
						<div class="row" style="padding:0px;">
							<div class="col" style="max-width: 120px !important; max-height: 110px !important;">
								<img style="width: 100%;" ng-src="{{itemcart.image_url}}" >
							</div>
							<div class="col">
								<span class="title-order">{{itemcart.event_name}}</span>
								<p style="white-space:pre-line;margin-bottom:0px;margin-top:10px;">
									{{itemcart.venue_name}} - {{itemcart.venue_address}}
									{{itemcart.event_start}}
								</p>	
							</div>
						</div>
						<div style="margin-top:10px;" class="row">
							<div style="margin-left:25px;" class="col">
								<div class= "stil-space" style="text-align: right;" >
									Producto: {{itemcart.title}}
								</div>
								<div class="row" style="text-align: right;">
									<div class="col" style="font-weight:700;text-align: right;padding-bottom:0px;padding-right:0px;">
										 Precio: {{itemcart.price_string}} 
									</div>
								</div>
								<div class="row" style="text-align: right;">
									<div class="col" style="font-weight:700;text-align: right;padding-bottom:0px;padding-right:0px;">
										 Cantidad: {{itemcart.qty}} 
									</div>
								</div>
								<div class="row" style="text-align: right;">
									<div class="col" style="font-weight:700;text-align: right;padding-bottom:0px;padding-right:0px;">
										 Total: $ {{(itemcart.price * itemcart.qty) | number:2}} 
									</div>
								</div>
							</div>
						</div>

						<div class="row del-qty" >
							<!--div class="col-90">
								<h3 style="margin-left:25px;font-size: 18px;"><div style="float:left;" translate>Cantidad</div>&nbsp;&nbsp;{{itemcart.event.qty}}
									<!--button class="button btn-qty" on-tap="decreaseItemCount(itemcart.event.qty,$index)">-</button-->
									<!--button class="button btn-qty">{{itemcart.event.qty}}</button-->
									<!--button class="button btn-qty" on-tap="increaseItemCount(itemcart.event.qty,$index)">+</button-->
								<!--/h3>
							</div-->
							<div class="col" style="padding:0px;text-align: right;">
								<a on-tap="showDeleteEvento($index);" class="button-icon icon ion-trash-a"></a>
							</div>
						</div>                      
					</ion-item>					
				</div>
				<div style="font-weight:700;font-size:18px;" class="row">
					<div class="col col-50">Importe Final</div>
					<div class="col right">$ {{importeFinal() | number:2}}</div>
				</div><br><br><br><br>				
			</ion-list>			
		</div>		
	</ion-content>
	<!--div class="bar bar-subfooter text-center" ng-if="cart.listCart().length>0">
			<div style="font-weight:700;font-size:18px;" class="row">
				<div class="col col-75">Importe Final</div>
				<div class="col">$ {{importeFinal() | number:2}}</div>
			</div>	

		</div-->
    <div ng-if="cart.listCart().length>0" class="bar bar-subfooter text-center" style="bottom:0px !important;">
		<button ng-click="procesarPago()" class="button button-positive btn-addtocart ion-card">
			Procesar Pago
		</button>
    </div>
    <!--ion-footer-bar class="bar bar-footer">
		<button ng-click="procesarPago()" class="button button-positive btn-addtocart ion-card">
			Procesar Pago
		</button>
    </ion-footer-bar-->
	
</ion-view>