<ion-view view-title='<img class="title-image" src="./imgs/logo_blanco2.png" width="150" height="43"/>' >
	<ion-nav-buttons side="right">
		<!--button class="button button-clear button-icon ion-ios-search" on-tap="showFilterBar()"></button>
        <button ng-click="cart()" class="button button-icon ion-bag"><span style="display:none;" class="badge badge-assertive header-badge">5</span></button-->
    </ion-nav-buttons>
	<ion-content>
	<div ng-if="cart.listCart().length>0">
	<ion-list>
	<div ng-repeat="itemcart in cart.listCart() track by $index">
		<ion-item class="item check-view" style="padding:0px">
			<div class="row" style="padding:0px;">
				<div class="col" style="max-width: 120px !important; max-height: 110px !important;">
					<img style="width: 100%;" ng-src="{{itemcart.event.image_url}}" >
				</div>
				<div class="col">
					<span class="title-order">{{itemcart.event.event_name}}</span>
					<p style="white-space:pre-line;margin-bottom:0px;margin-top:10px;">
						{{itemcart.event.venue_name}} - {{itemcart.event.venue_address}}
						{{itemcart.event.event_start}}
					</p>	
				</div>
			</div>
			<div style="margin-top:10px;" class="row">
				<div style="margin-left:25px;" class="col">
					<div class= "stil-space" style="text-align: right;" >
						Producto: {{itemcart.event.title}}
					</div>
					<div class="row" style="text-align: right;">
						<div class="col" style="font-weight:700;text-align: right;padding-bottom:0px;padding-right:0px;">
							 Total: {{itemcart.event.price_string}}
						</div>
					</div>
				</div>
			</div>

			<div class="row del-qty" >
				<div class="col-90">
					<h3 style="margin-left:25px;font-size: 18px;"><div style="float:left;" translate>Cantidad</div>&nbsp;
						<button class="button btn-qty" on-tap="decreaseItemCount(item.qty,$index)">-</button>
						<button class="button btn-qty">{{item.qty}}</button>
						<button class="button btn-qty" on-tap="increaseItemCount(item.qty,$index)">+</button>
					</h3>
				</div>
				<div class="col" style="padding:0px;">
					<a on-tap="showDeleteEvento($index);" class="button-icon icon ion-trash-a"></a>
				</div>
			</div>                      
		</ion-item>
	</div>
	            
	</ion-list>
	</div>
		<div class="list" ng-if="cart.listCart().length>0">
			<div class="item">
				<div class="row">
					<div class="col col-75">Item(s) Subtotal</div>
					<div class="col">$ 5.00</div>
				</div>
				<div class="row">
					<div class="col col-75" style="font-weight:700;"> SubTotal</div>
					<div class="col" style="font-weight:700;">$ 5.00</div>
				</div>
			</div>
			<div  style="font-weight:700;font-size:18px;" class="item">
				<div class="row">
					<div class="col col-75">Total</div>
					<div class="col">$ 5.00</div>
				</div>
			</div>

		</div>
	</ion-content>
	
    <div ng-if="cart.listCart().length>0" class="bar bar-subfooter text-center" style="bottom:0px !important;">
		<button ng-click="procesarPago()" class="button button-positive btn-addtocart ion-card">
			Procesar Pago
		</button>
    </div>
    <!--ion-footer-bar class="bar bar-footer" style="height:60px !important">
		<div class="tabs tabs-icon-only">
			<a class="tab-item">
				<i class="icon ion-ios-home-outline"></i>
			</a>
			<a class="tab-item">
				<i class="icon ion-ios-search"></i>
			</a>
			<a class="tab-item">
				<i class="icon ion-ios-person-outline"></i>
			</a>
		</div>
    </ion-footer-bar-->
	
</ion-view>