<ion-view view-title='<img class="title-image" src="./imgs/logo_blanco2.png" width="150" height="43"/>' >
	<ion-nav-buttons side="left">
		<button on-tap="goBack();" class="button button-icon button-clear ion-ios-arrow-back" Xmenu-toggle="left"></button>
	</ion-nav-buttons>
	<ion-nav-buttons side="right">
		<!--button class="button button-clear button-icon ion-ios-search" on-tap="showFilterBar()"></button-->
        <button ng-if="countBadge!=0" ng-click="cart()" class="button button-icon ion-bag"><span style="display:none;" class="badge badge-assertive header-badge">{{countBadge}}</span></button>
    </ion-nav-buttons>
	<ion-content >
        <ion-list>
		<div class="row" style="flex-wrap: wrap;">	
			<div class="col">
				<div style="margin-bottom:0px;padding: 10px;">
					<img Xng-if="item.item.data_img" style="display:block;margin:0 auto;max-width:100%;" ng-src="{{details.image_url}}">
					<div class="text-center" style="padding:10px 5px 0px 5px;">
						<!--span ng-if="item.item.price!=0" class="title-order itemfloat fonth1">{{details.tickets_min_price}}</span><br-->
						<span class="title-order fontDT">{{details.name}}</span><br>						
						<span class="title-order">{{details.vendor_name.name}}</span>						
						<!--p>{{details.description}}</p-->
					</div>					
				</div>							
			</div>
		</div>
		<div class="row item item-divider notheme">
			<div>Tipo de ticket</div>
		</div>
			
		<div ng-repeat="tipo in detalleTicket" style="margin-top: 15px;" class="row list card">
			<div style="margin-top: 15px;" class="col">
				<img style="display:block;margin:0 auto;max-width:100%;" ng-src="{{tipo.image_url}}">
				
			</div>
			<div style="text-align:left;margin-left:10px;margin-top: 15px;" class="col pad0">
				<p>{{tipo.title}}</p>
				<p>{{tipo.type_ticket}}</p>
				<p>{{tipo.price_string}}</p>
			</div>
			<div style="margin-top: 50px;" class="col pad0">	
				<label style="border:none;height:50px;" class="item item-input item-select">					
					<select name="cantidad_{{tipo.id_ticket}}" id="cantidad_{{tipo.id_ticket}}" ng-model="cantidades[$index]">
						<option value="">0</option>						
						<option ng-repeat="item in tipo.ticket_limit_array" value="{{item}}">{{item}}</option>
					</select>
					
				</label>	
			</div>			
		</div>
		
						
		</ion-list>
	</ion-content overflow-scroll="true">
	<div class="bar bar-subfooter text-center" style="bottom:0px !important;">
		<button Xng-click="addToCart2(detalleTicket)" ng-click="procesarCarrito()" class="button button-positive btn-addtocart ion-card">
			Comprar
		</button>
    </div>
    <!--ion-footer-bar class="bar bar-footer" style="height:60px !important">
		<div class="tabs tabs-icon-only">
			<a class="tab-item">
				<i class="icon ion-ios-home-outline"></i>
			</a>
			<a class="tab-item">
				<i class="icon ion-ios-search"></i>
			</a>
			<a class="tab-item">
				<i class="icon ion-ios-person-outline"></i>
			</a>
		</div>
    </ion-footer-bar-->
	
</ion-view>